* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* #root {
  
} */

h1, h2, h3, h4, h5, h6, button, input, select, span {
  font-family: "Archivo", sans-serif;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.5rem;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #525252;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
